In [ ]:
# Create a model that can preedict the profit of the company on the basis of company's spending pattern and company's location

import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
type(iris)
features = data.iloc[:,:-1].values
label = data.iloc[:,-1].values


from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(finalFeatureSet,
                                                label,
                                                test_size=0.2,
                                                random_state=1)

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train)

print(model.score(X_train,y_train))
print(model.score(X_test,y_test))

list(ohe.categories_)[0]

#Deploy Test

#R&D Spend	Administration	Marketing Spend	State

rdSpend = float(input("Enter R&D :"))
admSpend = float(input("Enter Administration Spend: "))
markSpend = float(input("Enter Marketing Spend: "))
state = input("Enter State: ")

if state not in list(ohe.categories_)[0]:
    print("State not known by AI master :( ")
else:
    stateDummy = ohe.transform(np.array([[state]]))
    compatibleFeatureSet = np.concatenate((stateDummy,np.array([[rdSpend,admSpend,markSpend]])), axis=1)
    profit=model.predict(compatibleFeatureSet)[0]
    print("Predicted Profit is : ",profit)



#Save the model
import pickle
pickle.dump(model,open('ProfitPredictor.mdl','wb'))
pickle.dump(ohe,open('StateEncoder.encoder','wb'))

In [1]:

import numpy as np
import pandas as pd
from sklearn.datasets import load_iris
iris = load_iris()
type(iris)

sklearn.utils.Bunch

In [2]:
iris

x = pd.DataFrame(iris.data)
y = iris.target
x.columns = iris.feature_names

In [3]:
demo=x
demo['class'] = y
demo.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [4]:
demo.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [17]:
import warnings
warnings.filterwarnings('ignore')
x=demo.drop('class',axis=1)
y=demo[['class']]

TypeError: 'numpy.ndarray' object is not callable

In [18]:
x=x.iloc[:].values
y=y.iloc[:].values

In [19]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2,random_state=20)

In [20]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
pt=PowerTransformer()
normalxtrain = pt.fit_transform(x_train)
normalxtest = pt.transform(x_test)
model = LogisticRegression()
model.fit(normalxtrain,y_train)
print("Test Accuracy")
print(model.score(normalxtest,y_test))
print("Train Accuracy")
print(model.score(normalxtrain,y_train))

model.predict(normalxtest)

Test Accuracy
0.9333333333333333
Train Accuracy
0.9583333333333334

array([0, 1, 1, 2, 1, 1, 2, 0, 2, 0, 2, 1, 1, 0, 0, 2, 0, 1, 2, 1, 1, 2,
       2, 0, 1, 1, 1, 0, 2, 1])

In [8]:
sepallength = float(input("sepal length(cm)"))
sepalwidth = float(input("sepal width(cm)"))
petallength = float(input("petal length(cm)"))
petalwidth = float(input("petal width(cm)"))

sepal length(cm)3
sepal width(cm)4
petal length(cm)5
petal width(cm)4

In [26]:
compatibleFeatureSet = np.array([[sepallength,sepalwidth,petallength,petalwidth]])
compatibleFeatureSet

array([[3., 4., 5., 4.]])

In [27]:
predictflower=model.predict(compatibleFeatureSet)
print("Predicted Profit is : ",predictflower)

Predicted Profit is :  [2]

In [28]:
#Save the model
import pickle
pickle.dump(model,open('FlowerPredictor.mdl','wb'))